.title { Display; flex:;

	float: center;
	background-color: Grey;
	width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;}

  header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}